.collabCard {
  max-width: 320px;
  max-height: 350px;
  /* padding: 2rem 3rem 2rem 4rem; */
  /* margin-right: 0%; */
}

.collabCard i[favorite="favorite_border"] {
  margin-left: auto;
}

.card {
  max-width: 320px;
  max-height: 320px;
}

.headline {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  padding-top: 8px;
}

h3 {
  line-height: 0px;
  color: #0f7a86;
  padding-left: 12px;
  font-size: 14px;
}

.favorite {
  margin-right: 0%;
}
