.App {
  text-align: center;
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
  vertical-align: middle;
}

.head {
  height: 60px;
  background-color: white;
  color: #0f7a86;
  font-size: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05),
    0 3px 1px -2px rgba(194, 141, 141, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2rem 3rem 3.5rem 3rem;
  position: relative;
}

.logo {
  max-width: 120px;
  float: left;
}

.icons {
  float: right;
  display: inline-flex;
  align-items: flex-end;
}

.container {
  align-items: center;
}

.bottom-nav-bar {
  padding-top: 2rem;
}

.top-nav-bar {
  padding-bottom: 1rem;
}

.upload {
  padding-right: 1rem;
  background-color: #0f7a86;
}

.top-nav-bar i[icon="cloud_upload"] {
  padding-right: 1rem;
}

.mdc-button-filled-accessible [container-fill-color] {
  color: #0f7a86;
}

.outlinedPrimary {
  color: #0f7a86;
}
